body {
    font-family: sans-serif;
    background-color: darkblue;
}
header {
    color: white;
    background-color: navy;
    padding: 20px;
    border: 1px solid white;
    border-radius: 50px;
}

header img {
    width: 130px;
    height: 45px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
}

header a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 30px;
}   

h1 {
    text-align: center;
    color: darkblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    background-color: white;
}


footer p {
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    background-color: white;
}

nav {
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: darkblue;
}

nav a {
    margin: 20px;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    text-decoration: none;
    text-align: justify;
}

main p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
}

p img {
    height: 150px;
    width: 200px;
}

discount p {
    text-align: center;
    color: darkblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    background-color: white;
}
